.my-text-primary {
  color : #9c344c; 
}

.my-text-primary:hover {
  color : #c36279; 
 }

.my-bg-primary {
  background-color : #9c344c; 
 }

 .my-text-secondary {
  color : #c36279; 
}

.my-bg-light {
  background-color:#ecc8d0; 
}

a{
  color: #9c344c; 
}

.my-bg-muted {
  background-color: whitesmoke; 
}

.my-btn-primary {
  color : #fff;
  background-color : #9c344c; 
  border-color : #9c344c; 
  border-radius : 0.6ex; 
  padding : 5px 10px 5px 10px; 
  box-shadow : none; 
}