.my-text-primary{
   color:#9C344C;
}

.my-text-primary:hover{
    color:#C36279;
 }

.my-bg-primary{
    background-color:#9C344C;
 }

 .my-text-secondary{
    color:#C36279;
}

.my-bg-light{
    background-color:#ECC8D0;
}

a{
    color:#9C344C;
}

.my-bg-muted{
    background-color:whitesmoke;
}

.my-btn-primary{
    color: #fff;
    background-color: #9C344C;
    border-color: #9C344C;
    border-radius: 0.6ex;
    padding: 5px 10px 5px 10px;
    box-shadow: none;
}